@import "tailwindcss";

@theme {
  --color-deep-navy: #0a192f;
  --color-medical-blue: #0057ff;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-deep-navy);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}